body {
    background-color: honeydew;
    font-family: 'Noto Sans', sans-serif;    
    margin: 0;
    text-align: center;
    /*font-family: verdana, arial, sans-serif;*/
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/
a {
    color: rgb(14, 92, 105);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #fdfdfd;
}

h1 {
    color: #66BFBF;    
    font-family: 'Montserrat', sans-serif;
    font-size: 500%;
    line-height: 2;
}

h2 {
    color: teal;
}

h3 {
    color: #11999E;
}

p {
    color: #c75643;
    /* this is spacing between lines */
    line-height: 2;
}

hr {
    border-top: 5px dotted grey;
    border-bottom: none;
    /* this does top and bottom 100px; left and right auto */
    margin: 100px auto;
    width: 3%;    
}

div {
    background-color: honeydew;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;    
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    bottom: 300px;
    left: 300px;
    position: absolute;    
}

.third-box {
    background-color: red;
    display: inline-block; 
    height: 200px;       
    left: 400px;
    /*
        static means stays in its place
        relative means it move relative to its original place (relative to its static position)
        absolute means relative to nearest positioned ancestor (the element it is in
        that is relative, which is the body if no such element exists)
        fixed means relative to viewport so it stays in one place on page the whole time e.g. navbar
        sticky means position based on user's scroll position
    */
    position: relative;
    width: 200px;
}

.first-box {
    background-color: blue;
    /*  
        inline means things next to each other but cannot change size
        block means things are below other things and they take up whole width of page
        inline-block means next to each other and can change size
    */
    display: inline-block;
    height: 200px;
    position: relative;
    right: 200px;
    width: 200px;
}
.second-box {
    background-color: yellow;
    display: inline-block;
    height: 200px;
    position: relative;
    right: 200px;    
    width: 200px;
}

.profile-pic {
    margin: 20px;
}

.description {
    margin: 10px auto 10px auto;    
    width: 50%;
}

.skill-row {
    /* this makes format starts from margin top and goes around clockwise */
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;    
}

.chilli-img {
    /* this makes text wrap the image with image on the left */
    float: left;
    margin-right: 30px;
    width: 25%;    
}

.chilli-test {
    /* like an anti float */
    clear: left;
}

.computer-img {
    float: right;
    margin-left: 30px;
    width: 25%;    
}
/* making button */
.btn_contact {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #008080);
    background-image: -moz-linear-gradient(top, #66BFBF, #008080);
    background-image: -ms-linear-gradient(top, #66BFBF, #008080);
    background-image: -o-linear-gradient(top, #66BFBF, #008080);
    background-image: -webkit-gradient(to bottom, #66BFBF, #008080);
    border: solid #66BFBF 1px;    
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;    
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 22px;
    line-height: 22px;
    margin: 10px auto 50px;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    width: 137px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;    
 }
 
 .btn_contact:hover {
    border: solid #66BFBF 1px;
    background: #35CBCB;
    background-image: -webkit-linear-gradient(top, #35CBCB, #1AB5B5);
    background-image: -moz-linear-gradient(top, #35CBCB, #1AB5B5);
    background-image: -ms-linear-gradient(top, #35CBCB, #1AB5B5);
    background-image: -o-linear-gradient(top, #35CBCB, #1AB5B5);
    background-image: -webkit-gradient(to bottom, #35CBCB, #1AB5B5);
    text-decoration: none;    
    border-radius: 12px;    
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
 }

.contact-message {
    /* 40 for top, auto for left and right and 60 for bottom. */
    margin: 40px auto 60px;
}

.copyright {
    color: #fdfdfd;
    font-size: 0.75rem;
    padding: 20px 0;
}

 .bottom-container {
    background-color: #93d8c9;
    padding: 50px 0 20px;
}